.privateContainer{
    margin: auto;
    max-width: 1000px;
}
.privateCarts{
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    gap: 20px;
}
.privateDetails {
    padding: 20px;
    text-align: center;

}
.privateCart{
    background: linear-gradient(to right,  rgb(240 200 160), rgb(250 200 200));
}