.navbar {
  height: 80px;
  background: #1a1831;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  /* position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; */
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  margin-left: 28px;
  font-family: sans-serif;
  font-weight: 600;
}
.scheduleLink {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 6px;
  background: linear-gradient(to right, rgb(255, 179, 84), rgb(255, 134, 219));
  transition: box-shadow 0.3s ease;
}

.scheduleLink:hover {
  box-shadow: 0 0 13px rgba(242, 100, 110, 1);
}

.bg-progress {
  width: 100%;
  position: fixed;
  height: 3px;
  top: 80px;
  left: 0;
}

.progressBar {
  width: 0;
  height: 100%;
  background: linear-gradient(to right, rgb(252, 211, 77), rgb(244, 114, 182));
}


.micca{
  width: 38px;
  align-items: center;
  display: flex;
  text-align: center;
  font-size: 26px;
  justify-content: center;
  height: 40px; 
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  border-radius: 3px;
  color: aliceblue;
  background: linear-gradient(to right, rgb(255, 179, 84), rgb(255, 134, 219));
}

.mobile-toggle:hover {
  box-shadow: 0 0 13px rgba(242, 100, 110, 1);
}


@media screen and (max-width: 868px) {
  .micca-links {
    display: none;
  }

  .mobile-toggle {
    display: block;
  }

  .active.micca-links {
    z-index: 1;
    background: #272343;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
